.btn {
		display: block;
        width: 150px;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: var(--vert);
        text-align: center;
        border-radius: 5px;
        transition: 350ms;
        font-family: inherit;
        font-size: inherit;
        border: 2px outset var(--blanc);
        min-width: fit-content;

        &:hover{
            background-color: #83ad5e;
        }
	}

.btn_red{
    background-color: var(--rouge);
    color: var(--blanc);

    &:hover {
        background-color: #bb2414;
    }
}
.btn.retour{
    background-color: var(--gris-pale);
    
    &:hover{
        background-color: var(--vert);
    }
}